html {
    background-color: #E8CCA5;
    font-size: 40px;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

dialog {
    border: none;
    border-radius: 5px;
}

.remove-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-book-button {
    cursor: pointer;
    padding: 20px;
    font-size: 40px;
}

#logo {
    height: 30vh;
}

#books-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}